<form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">

    <mat-error *ngIf="loginForm.get('email')?.errors">
      {{ showValidateEmailMessage() }}
    </mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="password"
     placeholder="Digite sua senha">

    <mat-error *ngIf="loginForm.get('password')?.errors">
      {{ showValidatePasswordMessage() }}
    </mat-error>

  </mat-form-field>

  <button type="button" (click)="clear()">Limpa</button>

  <button type="submit" [disabled]="formIsDisabled()">Fazer login</button>
</form>
